#containCarousel{
	padding: 0;
}
.btn-info{
  	margin-top: 1%;
  	margin-bottom: 1%;
}
header{
	background-color: #5397a1;
	h1{
		font-weight: bold;
		color: white;
	}
	h2{
		color: white;
		font-size: 1.5em;
	}
	img{
		margin-top: -20%;
	}
	.btn-default{
		font-size: 1.2em;
		background-color: #5bf2db;
		border: 0;
		border-radius: 0;
	}
	.btn-default:hover{
		background-color: #fff;
	}
	.topMargin{
		padding-top: 1%;
	}
	.socialIcon{
		color: #77EBDA;
		font-size: 4em;
		margin-top: 70%;
	}
	.socialIcon:hover{
		color: #23DBBF;
	}
}
content{
	article{
		margin-bottom: 2%;
	}
	.carousel-caption{
		background-color: rgba(0,0,0,0.9);
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 15%;
	}
	p{
		line-height: 2em;
		font-size: 1.1em;
	}
	#fullHeigth{
		margin-bottom: 9%;
	}
	#no-margin{
		margin-bottom: 1%;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	.presentation{
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.title{
		background-color: #77EBDA;
	}
}
footer{
	margin-top: 3.1%;
	padding-bottom: 0.3%;
	background-color: #294b50;
	color: white;
	h4{
		font-size: 1.8em;
	}
	a{
		color: #5bd2db;
		font-size: 1.2em;
	}
	a:hover{
		color: #469DA3;
		font-size: 1.2em;
		text-decoration: none;
	}
	.btn-default{
		font-size: 1.2em;
		background-color: #5bf2db;
		border: 0;
		border-radius: 0;
	}
	.btn-default:hover{
		background-color: #fff;
	}
	.socialIcon{
		color: #77EBDA;
		font-size: 3em;
		margin-top: 20%;
	}
	.socialIcon:hover{
		color: #23DBBF;
	}
}
.navigationTitle{
	margin: 1% 0%;
}
.carouselImg{
	width: 100%;
}
.footerContent{
	/*border-top: 2px solid darkgrey;*/
}