/* START COMPETENCES */
#competences {
	padding-bottom: 20px;
}

#competences .title {
	background-color: #53abc4;
	position: relative;
}

.wallet {
	position: absolute;
	bottom: -60px;
	left: 10%;
	width: 8%;
	border-radius: 50%;
	border: 4px solid black;

}

#competences h2 {
	color: white;
	font-size: 46px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.prestations {
	margin-top: 80px;
	margin-bottom: 100px;
}

.prestation {
	position: relative;
	background-color: #B84D45;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

.caption {
	opacity: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	background-color: rgba(29, 186, 155, 0.7);
	z-index: 98;
	-webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
}

.caption button {
	border: none;
	background: none;
}

.prestation:hover .caption {
	opacity: 0.9;
	cursor: pointer;
}



	
/* END COMPETENCES */